{
  "semi": false,
  "singleQuote": true,
  "printWidth": 80,
  "trailingComma": "es5",
  "overrides": [
    {
      "files": "*.md",
      "options": {
        "proseWrap": "preserve"
      }
    }
  ]
}